<nav class="navbar-inverse navbar-default" ng-controller="NavCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Hi</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/items/list">All Items</a></li>
                <li><a href="#!/items/new">New Items</a></li>
                <li><a href="#!/logout">Logout</a></li>
                <li><a href="#!/auth">Authenticate</a></li>
            </ul>
        </div>
    </div>
</nav>
